@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.barra{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 35px;
    background-color: #222 ;
    color: #f3f3f3;
    font-size: 14px;
    padding: 10px;
}

.barra p { 
    margin-left: 120px;
}

.barra .select { 
    padding-right: 60px;
}

.barra select { 
    background:#2222;
    color: #f3f3f3;
    border-color: #222;
}

.barra option { 
    background-color: #222;
}

header { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    width: 100vw; 
    height: 62px; 
    padding: 40px;
}

header .logo h1{ 
    display: flex; 
    align-items: center;
    font-weight: 700;
    font-size: 27px;
}

header .logo span{ 
      color: #FFFF;
}

header .logo h1 img{ 
    width: 20px;
}

header nav { 
    display: flex; 
    justify-content: space-around;
    margin-right: 60px;
}

header nav a { 
      text-decoration: none;
      color: #FFFF;
      padding-left: 15px;
}

main { 
    width: 100vw;
}

main .banner { 
    width: 100vw; 
    height:490px;
    background-image:url(./img/capa.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    line-height: 50px;
    margin-bottom: 20px;
}

main .banner div{
    width: 365px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

main .banner div h2 { 
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #FFFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #3C2313;
}

main .banner p { 
    font-size: 16px;
}

main .banner button{ 
    width: 141px; 
    height: 49px;
    background-color: #F0A83E;
    color:#FFFF ;
    border-style: none;
}

main .products { 
    width: 100%; 
    height: 522px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;
}

main .text-products{ 
   text-align: center;
}

main .text-products h3 { 
    font-weight: 700;
    font-size: 40px;
    color: #3C2313;
}

main .text-products p { 
    font-weight: 400;
    font-size: 15px;
    color: #666666;
    padding-top: 10px;
    word-spacing: 10px;
}

main .option-products { 
    width: 834px;
    height: 312px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #FBFAF6;
    color: #3C2313 ;
    padding-top: 10px;

}

main .option-products .price { 
    color: #F0A83E;
}

.contact { 
    width: 100vw;
    height: 264px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.contact h4 { 
    font-weight: 700;
    font-size: 25px;
    color: #3C2313;
}

.contact .contact-infos input { 
    width: 405px; 
    height: 42px;
    border-radius: 15px;
    background-color: #3C2313;
    color: white;
    padding-left: 10px;
    display: flex; 
    flex-direction: column;
    margin-top: 10px;
    border-style: none;
}

.contact .contact-enviar input { 
    margin-top: 20px;
}

.contact .contact-enviar .limpar { 
    width: 110px;
    height: 34px;
    border-radius: 15px;
    background-color: #8A8787;
    border-style: none;
    color:#FFFF;
}

.contact .contact-enviar .enviar { 
    width: 110px;
    height: 34px;
    border-radius: 15px;
    background-color: #F0A83E;
    border-style: none;
    color:#FFFF;
}

footer { 
    width: 100vw;
}

footer .inscreva { 
    width: 100%;
    height: 70px; 
    background-color: #F0A83E;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer .inscreva .recado { 
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .inscreva .recado img { 
    padding-right: 10px;
}

footer .inscreva .recado h5 { 
    font-weight: 700;
    font-size: 20px;
    color: #FFFF;
}

footer .inscreva .preencher { 
    margin-right: 60px;


}

footer .inscreva .preencher .email { 
      width: 320px;
      height: 45px;
      border-radius: 15px;
      background-color: #FFFF;
      border-style: none;
      padding-left: 10px;
}

footer .inscreva .preencher .enviar { 
    width: 81px; 
    height: 40px;
    background-color: #3C2313;
    color: #FFFF;
    border-style: none;
    border-radius: 15px;
}

footer .info { 
    padding-top: 30px;
}

footer .info-separado h6 { 
   display: flex; 
   flex-direction: column;
   color: #FFFF;
   font-size: 20px;
}

footer .info-separado p{ 
    font-size: 12px;
    color:#8A8787;
}

footer .info-separado .imagem { 
    padding-bottom: 20px;
}

footer .info-separado .titulo-1 { 
    margin-left: 20px;
}

footer .info-separado .titulo-2 {
    margin-right: 20px;
}

footer .info-separado .titulo-3{ 
    margin-right: 60px;
}

footer .info-logo { 
    width: 100%;
    height: 284px;
    background-color: #3C2313;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

footer .info-separado { 
    display: flex; 
    justify-content: space-between

}

footer .end-logo h6 { 
     font-weight: 700;
     font-size: 20px;
     color:#FFFF;
}

footer .end-logo span { 
    color:#F0A83E;
}

footer .end-barra { 
     width: 100vw;
     height: 20px;
     background-color:#000000;
     color: #FFFF;
}

 .end-barra p { 
    font-weight: 700; 
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
}

@media(max-width:460px){ 
    body { 
        width: 100vw;
    }
    
    .barra{ 
        display: none;
    }

    header{ 
        width: 100vw;
        padding: 15px;
    }

    header nav { 
        display: none; 
    }

    main .banner { 
       padding: 0;
       margin: 0;
       display: flex; 
       align-items: center;
       justify-content: center;
       background-size: auto;
    }

    main .banner h2 { 
        width: 320px;
    }

    main .products { 
        height: 100%;
    }

    main .text-products { 
        width: 100vw;
        height: 300px;
        padding: 25px;
    } 

    main .option-products { 
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
    }

    main .contact { 
        width: 100vw;
    }

    .contact .contact-infos { 
        width: 100%;
    }

    .contact .contact-infos input{ 
        width: 100%;
    }

    footer .inscreva{ 
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    footer .inscreva .recado h5 { 
        font-size: 1em;
    }

    footer .inscreva .preencher { 
        width: 100vw;
        margin: 0;
    }

    footer .inscreva .preencher .email { 
        width: 50%;
    }

    footer .info-logo {
        display: flex; 
        flex-direction: column-reverse;
        height: 100%;
    }

      

}